.cart_item{
    background: #122128;
    border-radius: 10px;
}

.cart_left_wrapper img{
    width: 8.375rem;
    object-fit: cover;
}

.cart_left_content p{
    color: var(--white-color);
}

.form-group{
    margin-top: 3px;
}

.form-group input {
    padding: 0;
    height: 4px;
    width: 4px;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
  }
  
  .form-group label {
    position: relative;
    cursor: pointer;
    color: var(--white-color);
  }
  
  .form-group label:before {
    content:'';
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid var(--white-color);
    padding: 6px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 5px;
  }
  
  .form-group input:checked + label:after {
    content: '';
    display: block;
    position: absolute;
    top: 1px;
    left: 6px;
    width: 4px;
    height: 10px;
    border: solid var(--white-color);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  .cart_right p{
    color: var(--white-color);
  }

  .button_wrapper button{
    width: 1.875rem;
    height: 1.875rem;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
  }

  .cart_right{
    width: 20%;
  }

  .price_sec{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    color: var(--white-color);
  }

  .price_sec_main{
    width: 40%;
  }

  .charge{
    border-bottom: 1px solid var(--white-color);
    padding-bottom: 10px;
  }